
html{
    /* background-image: linear-gradient(#FC5E55,#FA4083); */
    background-image: linear-gradient(to top right, #3fada8, #808080);
}

body{
    background-image: url(images/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1rem; /*same as 16px*/
}

.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid lightgray; /* Adds a <hr> rule at the bottom above FOOTER */

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray; /* Horizontal Rule */
}

.navbutton{
    border: 1px solid white;
    font-family: 'Playfair Display', serif;
    font-weight: 200px;
    padding: 10px 25px;
    display: inline-block;
    position: relative;
}

main{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px; /*Adds space btn bottom of CARDS container and HR rule*/
}

.card1{
    background-image: url(images/image-background-card1.jpg);
    min-height: 250px;
    background-size: cover;
    background-position: bottom;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.228);
}
.card2{
    background-image: url(images/image-background-card2.jpg);
    min-height: 250px;
    background-size: cover;
    background-position: bottom;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.228);
}
.card3{
    background-image: url(images/image-background-card3.jpg);
    min-height: 250px;
    background-size: cover;
    background-position: bottom;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.228);
}

.card1, .card2, .card3{
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

.herobox1{
    flex: 2;
    padding-right: 6.25rem;
}

.herobox2{
    flex: 1;
}

.herobox2 img{
    border-radius: 5px;
}

h1{
    font-size: 3.25rem; /* same as 52px */
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.9);
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 20px;
}

p{
    line-height: 1.75rem;
    margin-bottom: 0.5rem; /*space btn paragraphs*/
}

.cards p{
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

i{
    font-size: 100px;
    padding-top: 20px;
}

.cards a{
    color: white;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: white;
    font-family: 'Playfair Display', serif;
    color: red;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.btn:hover{
    background-color:#64f38c;
    color: white;
    transition-duration: 1s;
}

a.btn{
    display: inline block;
}

.testimonials{
    display: flex;
    flex-wrap: wrap; /*Breaks each <div> onto their own line*/
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox{
    width: 47%;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 50px;
    margin-top: 50px;
}

.tbox :last-child{
    font-size: .8rem;
}

.tbox p:last-of-type{
    float: right;
    font-size: .8rem;
    font-style: italic;
    padding-left: 30px;
}

.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    margin-left: -30px;
    text-align: center;
}

nav .navbutton:hover{
    background-color: #64f38c;
    transition-duration: 1s;
}

.dropdown .navbutton a:hover{
    color: white;
    transition-duration: 1s;
}

.navbutton:hover .dropdown{
    display: block;
    
}

.dropdown .navbutton{
    width: 120px;
    background-color: white;
}

.dropdown .navbutton a{
    color: red;
}

 footer .bottom{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin-top: 30px; /*Adds space btn <hr> rule and <FOOTER> */
    
}

/* pecific styling to CONTACT Page */
.main2{
    min-height: 300px;
    padding: 50px;
}

form{
    margin: 40px 0;
}

.input-wrapper{
    margin-bottom: 20px;
}

.selector-wrapper{
    margin-bottom: 20px;
}

select{
    border: 0;
    background: transparent;
    width: 50%;
    background-color: lightgray;
    padding: 10px 20px;
    font-size: .8rem;
}

input[type=text], input[type=email], input[type=number], textarea{
    box-sizing: border-box;
    border: none;
    padding: 10px 20px;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
}

.new-line{
    display: block;
}

input.btn{
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: bold;
}

/* Specific styles to ABOUT Page */
.main3{
    margin-top: 50px;
    margin-bottom: 150px;
    min-height: 300px;
}

.main3 img{
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.228);
}

.main3 h2{
    margin-bottom: 15px;
}

